<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the ComicZone, <%= @user.first_name %> <%= @user.last_name %>!</h1>
    <p>
      You have successfully signed up on the ComicZone,
      your username is: <%= @user.username %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining, <%= @user.first_name %>! We can't wait to see you around!</p>
  </body>
</html>
