<div class="profile-page">

  <h2 class="page-title">
    <%= @user.username %>'s Homepage
  </h2>
  <h4>Welcome, <%= @user.first_name %></h4>
  <% if @user.avatar.present? %>
    <p class="profile-picture">
      <img src="<%=@user.avatar%>" height="100" width=100>
    </p>
  <% end %>
  <%= link_to "Your Subscriptions", user_subscriptions_path(@user) %>
  <%= link_to "Add More Subscriptions!", comics_path %>
</div>
