<%= @title %>

<% @comics.each do |comic| %>
  <ul>
    <li>Published by:
      <%= comic.publisher %>
    </li>
    <li>
      <%= link_to "#{comic.title}", comic_path(comic) %>
    </li>
    <% if comic.creators %>
      <li>
        <ul>
          Creators:
          <% comic.creators.each do |creator| %>
          <li>
            <%= creator %>
          </li>
          <% end %>
        </ul>
      </li>
    <% end %>
    <% if comic.characters %>
      <li>
        <ul>
          Characters:
          <% comic.characters.each do |character| %>
          <li>
            <%= character %>
          </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
<% end %>
