<h2 class="page-title">Log In!</h2>
<div class="row">
  <div class="large-6 small-12 columns">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Sign In!", class:"form-button" %>
      </div>
    <% end %>
  </div>
</div>
<br/>
<%= render "devise/shared/links" %>
