<h3> All Users </h3>
<div class="row" id="user-index">
<% @users.each do |user| %>
  <div class="large-3 small-12 columns" id= <%= user.id %> >
    <img src="<%=user.avatar%>" height=60 width=60>
  </br>
    Name: <%= user.first_name %> <%= user.last_name %>
  </br>
    Username: <%= user.username %>
  </br>
    Email: <%= user.email %>
  </br>
    <%= link_to "Delete User", admin_user_path(user), method: :delete %>
  </div>
<% end %>
</div>
