<h1> Edit Comic </h1>

<%= form_for @comic do |f| %>

  <%= f.label :ongoing, "Currently Ongoing", value: true %>
  <%= f.radio_button :ongoing, true %>
  </br>
  <%= f.label :ongoing, "Series Ended", value: false %>
  <%= f.radio_button :ongoing, false %>
  </br>
  <%= f.submit "Submit Changes" %>
<% end %>
