<h1> Add Comic </h1>

<%= form_for @comic do |f| %>
  <%= f.label :publisher, "Publisher: " %>
  <%= f.text_field :publisher %>
  </br>
  <%= f.label :title, "Title: " %>
  <%= f.text_field :title %>
  </br>
  <%= f.label :writer, "Writer: " %>
  <%= f.text_area :writer %>
  </br>
  <%= f.label :artist, "Artist: " %>
  <%= f.text_area :artist %>
  </br>
  <%= f.label :main_character, "Main Character: " %>
  <%= f.text_area :main_character %>
  </br>
  <%= f.label :other_characters, "Other Character(s): " %>
  <%= f.text_area :other_characters %>
  </br>
  <%= f.submit "Add Comic" %>
<% end %>
