<!DOCTYPE html>
<html>
  <head>
    <title>ComicZone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= link_to "Sign Up", new_user_registration_path %>
    <%= link_to "Sign In", new_user_session_path %>
    <div id="app">

    </div>
    <%= yield %>
  </body>
</html>
