<!DOCTYPE html>
<html>
  <head>
    <title>ComicZone</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true  %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <% if current_user.admin? %>
      <li>
        <%= link_to "View Users", admin_users_path %>
      </li>
      <li>
        <%= link_to "Update Comics", comics_path %>
      </li>
      <% end %>
      <% if current_user.avatar.present? %>
        <p class="profile-picture">
          <img src="<%=current_user.avatar%>" height="20" width=20>
        </p>
      <% end %>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <%= link_to "View Profile", user_path(current_user) %>
      <%= link_to "Edit Profile", edit_user_registration_path %>
    <% else %>
      <%= link_to "Sign Up", new_user_registration_path %>
      <%= link_to "Sign In", new_user_session_path %>
    <% end %>

    <% flash.each do |key, value| %>
      <%= value %>
    <% end %>
    <%= yield %>
  </body>
</html>
